@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 56%;

    --background-grey: 0 0% 14%;
    --foreground-grey: 0 0% 95%;

    --card: 240 3.7% 15.9%;
    --card-foreground: 0 0% 98%;

    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 56%;

    --secondary: 68 95% 69%;
    --secondary-foreground: 0 0% 0%;

    --grey: 0 0% 23%;
    --grey-foreground: 0 0% 56%;

    --surface: 0 0% 56%;
    --surface-foreground: 0 0% 95%;

    --destructive: 14 71% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 56%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --light-darkgreen: 83, 28%, 32%, 1;
    --gray-medium: 0, 0%, 56%, 1;
    --bg-linear-gradient: 90, 1%, 31%, 1;
    --gradient-yellow: 212, 60%, 98%, 0.27;
    --gradient-blue: 11, 60%, 98%, 0.33;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: #ff7b23;
  clip-path: polygon(0 0, 101% 0, 0 100%);
  animation: l13 2s infinite;
}
.loader::after {
  --s: -1, -1;
}
@keyframes l13 {
  0%,
  10% {
    transform: scale(var(--s, 1)) translate(0, 0) rotate(0deg);
  }
  33% {
    transform: scale(var(--s, 1)) translate(20px, -20px) rotate(0deg);
  }
  66% {
    transform: scale(var(--s, 1)) translate(20px, -20px) rotate(180deg);
  }
  90%,
  100% {
    transform: scale(var(--s, 1)) translate(0px, 0px) rotate(180deg);
  }
}

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.6);
  }
}
@keyframes loud {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.image-container {
  background-color: white;
  position: relative;
}

.image-container {
  background-color: transparent;
  background-blend-mode: multiply;
}
